body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
    
}

.Main-section{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main contact section */

.Main-contact-section{
    padding: 40px;
}

.Main-contact-title{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;

}
/* About me section */
.About-me-section{
    margin: 0 0 40px 0 ;

}

.about-me-profession{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 20px;
}
.about-me-name{
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 25px;
}
.about-me-description{
    Width: 554px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* My projects section */
.My-projects{
 margin-bottom: 50px;   
}
.Main-contact-list{
    padding: 0 0 0 17px;
}
.My-projects-item{
    color: #000;
    font-weight: bold;
}
.My-projects-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;   
}
.My-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.My-projects-bracket{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}
/* My work experience */
.My-work-experience-company{
    color: #FB6D3A;
}
.My-work-experience-position{

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
} 
.My-work-experience-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.My-work-experience-divider{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}
.My-work-experience-duties{
    padding: 0 0 0 17px;
}
.My-work-experience-duty{
    Width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    
}
.My-work-experience-company-block{
    margin: 0 15px 0 0;
}
.My-education-university{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.My-education-university-name{
    color: #FB6D3A; 
}
.My-education-special{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 10px 0;
}


/* sidebar section */

.sidebar-section{
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
    text-decoration: none;
}

.contacts-section,
.Tech-skills-section{  
margin: 50px 0 0 40px;
}
.sidebar-title{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    margin-bottom: 10px;
}
/* contacts section */
.contacts-section-type{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 5px;
}
.contacts-section-link{
    color: #565E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
/* tech skills section */
.Tech-skills-list{
padding: 0 0 0 17px;
}
.Tech-skills-item{
 color: #FB6D3A;  
}
.Tech-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
}
.Soft-skills-section{
margin: 50px 0 0 40px;
}
.soft-skills{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
}
.soft-skills-list{
    padding: 0 0 0 17px;
}
.soft-skills-item{
    color: #FB6D3A;
}
.soft-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
    

.social {

    display: flex;
    padding-top: 20px;
    gap: 40px;
    color: #FFFFFF;
    padding: 0;
    list-style-type: none;

}


.social_link{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        
        border-radius: 50%;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
    fill: currentColor;
    
}




